html,
body{
    height: 100%;
}


body{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: $desc;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title{
    @extend %dmsans-700;
    color: $title;
}

.top{
    background-color: #edf1f4;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 110px;
    &__title{
        @extend %rubik-300;
        font-size: 36px;
        line-height: 24px;
        color: #222933;
        margin-bottom: 8px;
    }
}

.breadcrumbs{
    display: inline-flex;
    justify-content: center;
    &__list{
        display: flex;
    }
    &__item{
        position: relative;
        padding-right: 20px;
        &::after {
            content: "/";
            position: absolute;
            right: 8px;
            top: 0;
        }

        &:last-child {
            padding-right: 0;

            &::after {
                display: none;
            }
        }
    }
    &__link{
        @extend %rubik-400;
        font-size: 14px;
        line-height: 24px;
        color: #222933;
        opacity: 0.6;
    }
}


.glee__btn{
        @extend %rubik-500;
        color: $accent;
        font-size: 15px;
        line-height: 12px;
        border: 1px solid rgb(67, 99, 114);
        border-radius: 5px;
        padding: 21px 86px 20px 21px;
        position: relative;
        &::after{
            content: '';
            background-image: url(../images/icon/arrow-left.svg);
            position: absolute;
            right: 20px;
            top: 25px;
            width: 22px;
            height: 9px;
        }
    
}