@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    padding: 49px 0 55px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

.menu {
    &__btn {
        display: none;
    }

    &__list {
        display: flex;
    }

    &__list-item+.menu__list-item {
        padding-left: 30px;
    }

    &__list-link {
        @extend %rubik-500;
        color: $accent;
        font-size: 15px;
        line-height: 12px;
    }
}

.user-nav {
    display: flex;
    @extend %dmsans-400;

    &__link--loupe,
    &__link--grid {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
    }

    &__link--loupe {
        background-color: #edf1f4;
        margin-right: 25px;
        padding: 18px;
    }

    &__link--grid {
        background-color: #a3bbc8;
        margin-left: 20px;
        padding: 15px;
    }

    &__link--heart {
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        padding: 22px 30px 13px 41px;
        position: relative;
    }

    &__link--heart::after {
        content: url(../images/icon/user-nav-line.svg);
        position: absolute;
        top: 9px;
        right: 0;
    }

    &__link--cart {
        padding: 21px 41px 13px 27px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    &__link--heart,
    &__link--cart {
        background-color: #fcd7b6;
        position: relative;
    }
}

.user__nam {
    &-heart {
        right: 21px;
    }

    &-cart {
        right: 33px;
    }

    &-heart,
    &-cart {
        position: absolute;
        background-color: #fff;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        color: $title;
        font-size: 10px;
        line-height: 18px;
        text-align: center;
        top: 12px;
    }
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    flex-wrap: wrap;

    &__contact {
        width: 200px;
    }

    &__title {
        margin-bottom: 20px;
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 21px;
        color: #1f2044;
        text-transform: uppercase;
        padding-top: 15px;
    }

    &__logo {
        margin-bottom: 23px;
        display: block;
    }

    &__link {
        margin-bottom: 15px;
        display: block;
        @extend %rubik-400;
        color: $desc;
    }

    &__newsletter {
        width: 270px;
    }

    &__text {
        margin-bottom: 35px;
    }

    &__form-input {
        background-color: #fef7f0;
        border: none;
        padding: 10px 5px 10px 15px;
        width: 170px;
    }

    &__form-input::placeholder {
        color: #234969;
        @extend %dmsans-400;
        font-size: 12px;
    }

    &__form-btn {
        background-color: #a3bbc8;
        color: #fff;
        border: none;
        @extend %dmsans-400;
        font-size: 14px;
        line-height: 21px;
        padding: 10px 18px 10px 15px;
    }
}

.address,
.phone,
.email {
    @extend %rubik-400;
    color: $desc;
    margin-bottom: 15px;
    display: block;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 35px 0;
    border-top: 1px solid $desc;

    &__list {
        display: flex;
    }

    &__item+&__item {
        border-left: 1px solid $desc;
        margin-left: 15px;
    }

    &__link {
        @extend %rubik-400;
        color: $desc;
        margin-left: 15px;
    }

}

.top-slider {
    &__inner {
        background-color: #fcd7b6;
        padding-top: 100px;
        padding-bottom: 45px;
    }

    &__item {
        display: flex !important;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    &__content {
        margin-right: 100px;
        max-width: 430px;
        margin-bottom: 200px;
    }

    &__title {
        @extend %rubik-500;
        font-size: 72px;
        line-height: 70px;
        color: $title;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 18px;
        line-height: 30px;
        color: $accent;
        @extend %rubik-400;
        margin-bottom: 38px;
    }

    &__link {
        font-size: 15px;
        line-height: 12px;
        padding: 20px 100px 20px 25px;
        background-color: #a3bbc8;
        color: #fff;
        @extend %rubik-500;
        position: relative;
    }

    &__link::after {
        content: url(../images/top-slider/arrow.svg);
        position: absolute;
        right: 0;
        top: 23px;
        left: 160px;
        bottom: 0;
    }

}

.slick-dots {
    display: flex;
    justify-content: center;

    li {
        button {
            background-color: #fde3cc;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: none;
            @extend %rubik-500;
            font-size: 11px;
            line-height: 9px;
            color: $title;
        }

        &.slick-active {
            button {
                background-color: #fff;
            }
        }
    }

    li+li {
        margin-left: 10px;
    }


}

.info {

    &__items {
        background-color: #fef7f0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {

        padding: 35px 0;

        &:nth-child(2) {
            border-right: 1px solid #e8e4df;
            border-left: 1px solid #e8e4df;
            padding-left: 150px;
            padding-right: 150px;
        }
    }

    &__item-box {
        min-height: 110px;
        max-width: 290px;
        display: flex;
        align-items: center;
    }

    &__text {
        margin-left: 22px;

        &-title {
            color: #414141;
            @extend %dmsans-700;
            font-size: 18px;
            line-height: 40px;
        }

        &-subtitle {
            @extend %dmsans-400;
            color: #585858;
            font-size: 16px;
            line-height: 30px;
        }
    }

}

.product {
    padding: 60px 0 70px;
    text-align: center;

    &__title {
        font-size: 36px;
        line-height: 38px;
        margin-bottom: 30px;
        text-align: center;
    }


    &__items {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 30px;
        margin-bottom: 185px;
    }

    &-item {
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        max-width: 270px;
        height: 380px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: relative;
        overflow: hidden;

        &__title {
            @extend %dmsans-500;
            line-height: 40px;
        }

        &__prise {
            color: #a3bbc8;
            @extend %dmsans-700;
            line-height: 40px;
        }

        &__text {
            margin-bottom: 30px;
            margin-top: 60px;
        }

        &__img-box {
            margin: 0 auto;

        }

        &__link-box {
            transition: all .5s;
            position: absolute;
            top: 180px;
            left: 50px;
            display: flex;
            transform: translateY(500%);
        }

        &:hover {
            .product-item__link-box {
                transform: translateY(0)
            }
        }

        &__link {
            width: 45px;
            height: 45px;
            path {
                transition: all .3s;
            }

            transition: all .3s;
        }

        &__link-cart,
        &__link-search {
            padding: 13px 11px 12px 12px;
        }

        &__link-heart {
            padding: 15px 12px;
        }

        &__link-cart,
        &__link-search,
        &__link-heart {
            background-color: #fff;
            border-radius: 50%;
        }

        &__link+&__link {
            margin-left: 15px;
        }

        &__link:hover {
            background-color: #a3bbc8;

            path {
                fill: #fff;
            }
        }

    }
}

.product-filters {
    text-align: center;

    &__btn {
        @extend %dmsans-700;
        font-size: 16px;
        color: #8b8b8b;
        border: none;
        padding: 0;
        background-color: transparent;
        margin-right: 30px;
        cursor: pointer;
    }
}

.product-lamp {
    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        justify-content: center;
        background-color: #feefe2;
        width: 875px;
        min-height: 390px;
    }

    &__img {
        margin-top: -100px;
        margin-right: 40px;
        margin-bottom: 80px;
    }

    &__info {
        margin-top: 80px;
        text-align: left;
        max-width: 350px;

        &-title {
            @extend %dmsans-700;
            font-size: 26px;
            line-height: 32px;
            color: $title;
            margin-bottom: 25px;
        }

        &-text {
            @extend %rubik-400;
            font-size: 16px;
            line-height: 30px;
            color: $title;
            margin-bottom: 30px;
        }

        &-btn {
            border-radius: 5px;
        }
    }
}

.design {
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 35px;
        margin-top: 75px;
        margin-bottom: 120px;
    }

    &__item-link {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 246px;
        padding: 40px 35px 130px;
        @extend %dmsans-700;
    }

    &__item-info {
        max-width: 175px;
    }

    &__item-info__title {
        font-size: 20px;
        margin-bottom: 18px;
        color: #191919;
    }

    &__item-info__text {
        color: #a3bbc8;
        font-size: 16px;
    }
}

.video-design {
    background-image: url(../images/design/video.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    margin-bottom: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news {
    margin-bottom: 75px;
    &__top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 50px;
    }

    &__title {
        font-size: 36px;
        line-height: 38px;
        margin-right: 20px;
    }

    &__top-link {
        font-size: 16px;
        padding-right: 25px;
        position: relative;
        color: #262626;
        @extend %dmsans-700;

        &::after {
            content: '';
            background-image: url(../images/icon/arrow.svg);
            position: absolute;
            right: 0;
            bottom: 7px;
            width: 6px;
            height: 11px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 80px;
    }

    &__item {
        max-width: 370px;
        background-color: #fff;
    }

    &__item-box {
        padding: 30px 30px 25px;
        position: relative;
        display: flex;
        flex-direction: column;
        span {
            padding: 8px 28px;
            background-color: #a3bbc8;
            border-radius: 18px;
            position: absolute;
            top: -20px;
            color: #fff;
            font-size: 14px;
            line-height: 20px;
            @extend %poppins-700;
            text-transform: uppercase;
        }
    }

    &__item-titlelink {
        @extend %dmsans-500;
        font-size: 18px;
        color: #262626;
        min-height: 80px;
        border-bottom: 1px solid $desc;
    }


}

.news-box {
    display: flex;
    @extend %rubik-400;
    font-size: 12px;
    color: #222933;
    padding-top: 15px;

    &__author,
    &__date {
        padding-left: 15px;
    }

    &__author {
        @extend %rubik-400;
        font-size: 12px;
        color: #222933;
        margin-left: 30px;
        position: relative;

        &::before {
            content: '';
            background-image: url(../images/icon/admin.svg);
            width: 14px;
            height: 13px;
            position: absolute;
            left: -3px;
            top: 4px;
        }
    }

    &__date {
        position: relative;

        &::before {
            content: '';
            background-image: url(../images/icon/calendar.svg);
            width: 11px;
            height: 13px;
            position: absolute;
            left: -3px;
            top: 4px;
        }
    }
}

.partners {
    padding: 95px 0 80px;
    margin-bottom: 60px;
    background-color: #fef7f0;

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}

.modal {
    max-width: 475px;
    margin: 0 auto 120px;
}

.modal-form {
    &__label {
        display: block;
        margin-bottom: 15px;
        color: $accent;
    }

    &__input {
        width: 100%;
        height: 55px;
        display: block;
        border: 1px solid #f6f6f6;
        margin-bottom: 25px;
        padding: 0 15px;
    }

    &__btn {
        width: 100%;
        background-color: #a3bbc8;
        color: #fff;
        @extend %rubik-500;
        font-size: 18px;
        border: none;
        margin-top: 15px;
        padding: 18px 0;
        cursor: pointer;
    }

    &__checkbox {
        margin-bottom: 30px;
        padding: 30px 0;
        border-bottom: 1px solid #f6f6f6;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    &__link {
        @extend %rubik-500;
        font-size: 14px;
        color: $accent;
    }
}

.modal-register {
    text-align: center;

    &__text {
        color: $accent;
        margin-bottom: 22px;
    }

    &__btn {
        width: 100%;
        border: 1px solid #a3bbc8;
        background-color: transparent;
        padding: 18px 0;
        @extend %rubik-500;
        font-size: 18px;
        color: $title;
        cursor: pointer;
    }
}

.contacts {
    text-align: center;
    margin-bottom: 120px;

    &__subtitle {
        color: #a3bbc8;
        @extend %poppins-700;
        font-size: 16px;
        line-height: 20px;
    }

    &__title {
        color: $accent;
        font-size: 35px;
        line-height: 57px;
        margin-bottom: 70px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        background-color: #fbfbfb;
        padding-bottom: 75px;
        width: 370px;
        border: 1px solid transparent;
        transition: all .3s;
        margin-bottom: 25px;

        &:hover {
            border: 1px solid #a3bbc8;

            .cls-1 {
                fill: #a3bbc8;
            }

            .cls-2 {
                fill: #fff;
            }
        }
    }

    &__text {
        @extend %dmsans-700;
        font-size: 20px;
        line-height: 26px;
        color: #222222;
        margin-bottom: 22px;
    }

    &__link {
        color: #565872;
        font-size: 16px;
        line-height: 30px;
        display: block;
        @extend %rubik-400;
    }
}

.contacts-box {
    margin-bottom: 120px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__input {
        width: 300px;
        margin-bottom: 25px;
        padding: 20px 20px;
        border: none;
        background-color: #fafafa;
        margin-right: 20px;

        &::placeholder {
            color: #565872;
            @extend %rubik-400;
            font-size: 16px;
            line-height: 30px;
        }

    }

    &__textarea {
        width: 620px;
        height: 175px;
        border: none;
        background-color: #fafafa;
        resize: none;
        padding: 10px 20px;
        margin-bottom: 30px;

        &::placeholder {
            color: #565872;
            @extend %rubik-400;
            font-size: 16px;
            line-height: 30px;
        }
    }

    &__btn {
        border: none;
        background-color: #a3bbc8;
        @extend %poppins-600;
        color: #fff;
        font-size: 15px;
        line-height: 55px;
        padding: 0 40px;
        cursor: pointer;
    }

}

.terms {
    color: #243f4d;

    &__title {
        @extend %rubik-500;

        font-size: 24px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    &__list {
        counter-reset: counter;
        margin-bottom: 60px;
    }

    &__item {
        margin-bottom: 30px;
        padding-left: 40px;
        position: relative;

        &::before {
            content: '0'counter(counter);
            counter-increment: counter;
            position: absolute;
            left: 0;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 60px;

        &:last-child {
            margin-bottom: 110px;
        }
    }
}

.about {
    color: $title;
    margin-bottom: 115px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        max-width: 570px;
        object-fit: cover;
    }

    &__box {
        max-width: 570px;
        margin-left: 15px;
    }

    &__sub {
        margin: 80px 0 45px;
        display: flex;
        align-items: center;

        span {
            @extend %rubik-500;
            font-size: 140px;
            line-height: 32px;
            color: #a3bbc8;
            margin-right: 30px;
        }
    }

    &__sub-text {
        font-size: 16px;
        line-height: 30px;
    }

    &__title {
        @extend %dmsans-700;
        font-size: 36px;
        line-height: 32px;

        margin-bottom: 40px;
    }

    &__text {
        font-size: 16px;
        line-height: 30px;
        padding-bottom: 60px;
        border-bottom: 1px solid #a3bbc8;
    }

    &__number {
        display: flex;
        justify-content: space-between;
        font-size: 36px;
        line-height: 38px;
        @extend %dmsans-700;
        flex-wrap: wrap;
        margin-top: 25px;

    }

    &__number-text {
        span {
            display: block;
            color: #4c4c4c;
            font-size: 16px;
            line-height: 17px;
            margin-top: 10px;
        }
    }

    &__number-item {
        width: 175px;
        padding-left: 80px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__number-project,
    &__number-revenue {
        border-right: 1px solid #a3bbc8;
    }

    &__number-project::before {
        content: '';
        background-image: url(../images/icon/project.svg);
        width: 36px;
        height: 38px;
        position: absolute;
        left: 0;
    }

    &__number-revenue::before {
        content: '';
        background-image: url(../images/icon/revenue.svg);
        width: 43px;
        height: 39px;
        position: absolute;
        left: 0;
    }

    &__number-awards::before {
        content: '';
        background-image: url(../images/icon/awards.svg);
        width: 42px;
        height: 40px;
        position: absolute;
        left: 0;
    }
}

.numbers {
    background-color: #fcd7b6;
    margin-bottom: 125px;
    padding: 75px 0;
    @extend %dmsans-700;
    line-height: 32px;
    color: $title;

    &__items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 15px;
    }

    &__num {
        font-size: 36px;
        padding-top: 15px;
    }

    &__text {
        font-size: 18px;
        padding-top: 20px;
    }
}

.team {
    margin-bottom: 95px;

    &__inner {
        display: flex;
    }

    &__content {
        width: 400px;
        padding-right: 80px;
    }

    &__title {
        color: $title;
        font-size: 36px;
        line-height: 32px;
        margin-bottom: 30px;
        @extend %dmsans-700;
    }

    &__text {
        color: $title;
        font-size: 16px;
        margin-bottom: 30px;
    }

    &__btn {
        font-size: 15px;
        line-height: 55px;
        color: #fff;
        @extend %poppins-600;
        position: relative;
        background-color: #a3bbc8;
        padding: 15px 55px 15px 15px;
        border-radius: 10px;

        &::after {
            content: '';
            background-image: url(../images/top-slider/arrow.svg);
            position: absolute;
            right: 12px;
            top: 18px;
            width: 22px;
            height: 10px;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px 30px;
    }

    &__img {
        object-fit: cover;
    }

    &__item-box {
        position: absolute;
        display: flex;
        justify-content: space-between;
        z-index: 100;
        margin-top: -50px;
        margin-left: -1px;
        padding: 20px;
        width: 325px;
        background-color: #fff;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    }

    &__social {
        display: flex;
        align-items: center;
    }

    &__social-link {
        margin-right: 7px;
    }

    &__item-title {
        color: $accent;
        @extend %dmsans-700;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 15px;
    }

    &__item-text {
        font-size: 16px;
        color: #565872;
    }
}

.blog {
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        width: 835px;
    }

    &__item {
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 78px;
        }
    }

    &__item-box {
        margin: 40px 0 35px;
    }

    &__item-title {
        margin: 40px 0 35px;
        font-size: 36px;
        line-height: 26px;
    }

    &__item-link {
        color: #333;
    }

    &__item-text {
        font-size: 16px;
        color: $title;
        line-height: 30px;
        margin-bottom: 38px;
    }

    &__item-btn {
        border-radius: 0;
        border-color: #a3bbc8;
        color: #a3bbc8;

        &::after {
            background-image: url(../images/blog/arrow.svg);
        }
    }

    &__aside {
        width: 270px;
    }

    &__aside-form {
        margin-bottom: 55px;
        display: flex;
    }

    &__aside-input {
        width: 220px;
        border: 1px solid #edf1f4;
        height: 45px;
        padding: 0 5px 0 15px;
    }

    &__aside-btn {
        background-color: #edf1f4;
        border: none;
        height: 45px;
        width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &__aside-title {
        font-size: 18px;
        margin-bottom: 25px;
        position: relative;
        text-transform: uppercase;

        &::after {
            content: '';
            background-image: url(../images/blog/line.svg);
            position: absolute;
            width: 30px;
            height: 2px;
            top: 8px;
            margin-left: 18px;
        }
    }
}

.blog-box {
    position: absolute;
    margin-top: -70px;
    justify-content: space-between;
    background-color: #a3bbc8;
    color: #fff;
    width: 275px;
    padding: 23px 30px;

    &__author {
        color: #fff;
        margin-left: 0;
    }
}

.recent-posts {

    &__item {
        display: flex;
        justify-content: center;
    }

    &__link-img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    &__item-box {
        margin-left: 20px;
    }

    &__link-title {
        color: #333;
        font-size: 14px;
        line-height: 20px;
        @extend %rubik-400;
        margin-bottom: 15px;
    }

    &__date {
        font-size: 12px;
        color: #9a9a9a;
        line-height: 30px;
        padding-left: 15px;
        position: relative;

        &::before {
            content: '';
            background-image: url(../images/icon/calendar.svg);
            position: absolute;
            width: 11px;
            height: 13px;
            left: 0;
            top: 8px;
        }
    }
}

.filter-category {
    margin-bottom: 50px;
    &__label {
        display: block;
        margin-bottom: 15px;
        cursor: pointer;
    }

    &__input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        position: absolute;

        &:checked+.filter-category__box {
            background-color: #edf1f4;
        }

    }

    &__box {
        display: flex;
        justify-content: space-between;
        color: $title;
        font-size: 16px;
        line-height: 43px;
        padding: 0 25px 0 15px;
        border-radius: 10px;
    }
}

.pagination {
    margin-bottom: 120px;
    display: flex;

    &__list {
        display: flex;
    }

    &__item {
        margin-right: 16px;

    }

    &__link {
        border: 1px solid #a3bbc8;
        font-size: 16px;
        color: $title;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__link--active {
        background-color: #a3bbc8;
        color: #fff;
    }

    &__next {
        border: 1px solid #a3bbc8;
        font-size: 16px;
        line-height: 30px;
        color: $title;
        text-align: center;
        padding: 9px 20px;
    }
}

.blog-detalis {
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        float: left;
        width: 325px;
        height: 214px;
        object-fit: cover;
        margin-right: 30px;
        margin-bottom: 35px;
    }

    &__info {
        width: 835px;
        margin-bottom: 60px;
    }

    &__text {
        h3 {
            margin: 40px 0 25px;
            color: #333;
            font-size: 36px;
            line-height: 38px;
        }

        h6 {
            @extend %rubik-500;
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 25px;
        }

        p {
            margin-bottom: 25px;
        }

        blockquote {
            padding: 22px 100px 15px 40px;
            background-color: #edf1f4;
            border-left: 7px solid #a3bbc8;
            margin-bottom: 48px;
            line-height: 30px;
        }

        span {
            padding-left: 45px;
            position: relative;
        }

        span::before {
            content: '';
            background-image: url(../images/blog/line.svg);
            width: 20px;
            height: 4px;
            position: absolute;
            margin-right: 20px;
            left: 0;
            top: 6px;
        }

        h5 {
            @extend %rubik-500;
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 25px;
        }
    }

    &__author {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 25px;
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 65px;
    }

    &__author-prof {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 15px;

    }

    &__author-info {
        display: flex;
        margin-bottom: 25px;
    }

    &__author-box {
        margin-bottom: 25px;
    }

    &__author-img {
        margin-right: 30px;
    }

    &__author-name {
        margin-bottom: 13px;
        @extend %rubik-500;
        font-size: 18px;
        line-height: 25px;
    }

    &__author-text {
        color: #666;
        span {
            color: #333;
        }
    }

    &__author-tags {
        margin-bottom: 13px;
        span {
            margin-right: 30px;
        }

        a {
            color: #666;
        }
    }

    &__author-share {
        span {
            margin-right: 20px;
        }

        a {
            margin-right: 20px;
        }
    }

    &__form-box {
        margin-bottom: 120px;

    }

    &__form-title {
        @extend %rubik-700;
        font-size: 24px;
        line-height: 30px;
        color: #436372;
        margin-bottom: 50px;
    }

    &__input {
        width: 400px;
        padding: 15px 20px;
        border: 1px solid #e5e5e5;
        margin-bottom: 20px;

        &::placeholder {
            color: #999999;
            @extend %rubik-400;
            font-size: 16px;
            line-height: 36px;
        }

        &:focus {
            color: #333;
            border-color: #a3bbc8;
        }

        &+.blog-detalis__input {
            margin-left: 30px;
        }
    }

    &__textarea {
        border: 1px solid #e5e5e5;
        width: 832px;
        height: 120px;
        resize: none;
        padding: 10px 20px;
        margin-bottom: 40px;

        &::placeholder {
            color: #999999;
            @extend %rubik-400;
            font-size: 16px;
            line-height: 36px;
        }

        &:focus {
            color: #333;
            border-color: #a3bbc8;
        }
    }

    &__btn {
        @extend %rubik-400;
        font-size: 14px;
        line-height: 21px;
        padding: 15px 38px;
        text-transform: uppercase;
    }
}

.comments {
    margin-bottom: 80px;

    &__title {
        @extend %rubik-700;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 52px;
    }

    &__item {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;

        &:nth-child(3) {
            padding: 30px 0;
            margin-left: 130px;
            border-bottom: 1px solid #e0e0e0;
            border-top: 1px solid #e0e0e0;
        }
    }

    &__img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-right: 30px;
    }

    &__info-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    &__info-name {
        @extend %rubik-700;
        font-size: 16px;
    }

    &__info-date {
        font-size: 14px;
        color: #ebebeb;
    }

    &__info-text {
        line-height: 30px;
        color: #565872;
        margin-bottom: 20px;
    }

    &__info-link {
        position: relative;
        font-size: 14px;
        color: #565872;
        padding-right: 25px;

        &::after {
            content: '';
            background-image: url(../images/icon/arrow-right.svg);
            width: 13px;
            height: 15px;
            top: 0;
            right: 0;
            position: absolute;
        }
    }

}

.product-slide {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;

    &__inner {
        width: 555px;
        margin-right: 65px;
        display: flex;
    }

    &__thumb {
        width: 140px;
        margin-right: 25px;
    }

    &__thumb-item {
        cursor: pointer;
        width: 140px;
        height: 160px;
        margin-bottom: 25px;
        border: 1px solid #f2f2f2;
    }

    &__thumb-img {
        object-fit: cover;
        margin: 0 auto;
    }

    &__big {
        width: 385px;
    }

    &__big-item {
        border: 1px solid #f2f2f2;
        height: 550px;
    }

    &__big-img {
        object-fit: cover;
        margin: 0 auto;
    }

    &__title {
        font-size: 40px;
        color: #333;
        line-height: 24px;
        margin-bottom: 25px;
    }

    &__prise {
        font-size: 30px;
        line-height: 45px;
        color: #333;
        margin-bottom: 25px;
    }

    &__text {
        line-height: 30px;
        margin-bottom: 25px;
    }

    &__btn {
        text-transform: uppercase;
        @extend %rubik-400;
        padding: 12px 50px;
        line-height: 30px;
        border-radius: 7px;
        margin-bottom: 55px;
        margin-left: 15px;
    }

    &__item {
        display: flex;
        margin-bottom: 15px;
    }

    &__star {
        margin-bottom: 35px;
    }
}

.jq-number__field {
    border: 1px solid #a3bbc8;
    box-shadow: none;
    border-radius: 0px;
    width: 150px;

    input {
        border: none;
        width: 150px;
        height: 50px;
        padding: 0;
        text-align: center;
        font-size: 15px;
        @extend %rubik-400;
        color: #333;
        line-height: 46px;
    }
}

.jq-number {
    padding: 0;
    position: relative;
}

.jq-number__spin {
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 52px;
    border: 1px solid #a3bbc8;
    border-radius: 0px;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    top: 0;

    &::after {
        content: '';
        height: 1px;
        width: 6px;
        top: 50%;
        transform: translateY(-50%);
        left: 22px;
        background-color: #333;
        position: absolute;
    }
}

.jq-number__spin.minus {
    left: 0;
}

.jq-number__spin.plus::before {
    content: '';
    height: 6px;
    width: 1px;
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(50%);
    background-color: #333;
}

.jq-number__spin.plus {
    right: 0;
}

.product-tabs {
    margin-bottom: 100px;

    &__top {
        margin-bottom: 35px;
        text-align: center;
    }

    &__top-item {
        padding: 15px 40px;
        @extend %rubik-500;
        font-size: 18px;
        line-height: 40px;
        color: $title;
        background-color: #edf1f4;
        border-radius: 7px;

        &+.product-tabs__top-item {
            margin-left: 15px;
        }
    }

    &__top-item--active {
        background-color: #a3bbc8;
        color: #fff;
    }

    &__content-item {
        display: none;
    }

}

.product-tabs__content-item.product-tabs__content-item--active {
    display: block;
}

.related-product {
    margin-bottom: 100px;
    position: relative;

    &__title {
        margin-bottom: 15px;
    }

    &__item {
        display: flex !important;
        box-shadow: none;
    }

    .slick-slider {
        padding-top: 60px;
    }

    .slick-arrow {
        background-color: transparent;
        border-radius: 7px;
        border: 1px solid #edf1f4;
        width: 50px;
        height: 50px;
        padding: 0;

        &:active {
            border-color: #a3bbc8;
        }
    }

    .slick-next {
        position: absolute;
        top: -50px;
        right: 0;
    }

    .slick-prev {
        position: absolute;
        top: -50px;
        right: 70px;
    }
}

.product-list {
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        display: none;
    }

    &__items {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 0;
        margin-bottom: 110px;
    }

    &__item {
        display: flex;
        margin-bottom: 23px;
    }

    &__link-img {
        margin-right: 15px;
        width: 70px;
        height: 70px;
        border: 1px solid #f2f2f2;

        img {
            margin: 0 auto;
            object-fit: cover;
        }
    }

    &__link-title {
        font-size: 14px;
        line-height: 16px;
        color: #333;
    }

    &__pagination {
        justify-content: center;
    }

    &__date {
        font-size: 15px;
        line-height: 27px;
        color: #333;
    }

    .jq-ry-container {
        padding: 0;
    }

    &__item-box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.filter-prise {
    margin-bottom: 65px;

    &__label {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 43px;
    }
}

.irs--flat {
    height: 23px;
}

.irs--flat .irs-line {
    top: 11px;
    height: 3px;
    background-color: #c2d2db;
}

.irs--flat .irs-bar {
    top: 11px;
    height: 4px;
    background-color: #a3bbc8;
}

.irs--flat .irs-handle {
    top: 5px;
    width: 15px;
    height: 15px;
    background-color: #a3bbc8;
}

.irs--flat .irs-handle>i:first-child {
    display: none;
}

.irs-from,
.irs-to,
.irs-single {
    display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
    display: none;
}

.product-page {
    &__img {
        width: 370px;
        height: 500px;
        border: 1px solid #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            object-fit: cover;
        }
    }

    &__inner {
        justify-content: center;
    }

    &__content {
        margin-left: 30px;
    }

    &__items {
        margin-top: 0;
        margin-bottom: 75px;
        display: block;
    }

    &__item {
        margin-bottom: 65px;
        display: flex;
        align-items: center;
    }

    &__box {
        margin-left: 50px;
        width: 470px;
    }

    &__title {
        font-size: 40px;
        line-height: 26px;
        color: #333;
        margin-bottom: 20px;
    }

    &__prise {
        font-size: 30px;
        line-height: 45px;
        color: #333;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    &__text {
        margin-bottom: 35px;
    }

    &__btn {
        text-transform: uppercase;
        font-size: 15px;
        line-height: 30px;
        color: #fff;
        background-color: #a3bbc8;
        border: none;
        padding: 10px 52px;
        border-radius: 7px;
        cursor: pointer;
    }

    &__link {
        padding: 17px 12px 15px 12px;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        margin-right: 15px;
        transition: all .3s;

        &:hover {
            background-color: #a2bac7;

            path {
                fill: #fff;
            }
        }
    }

    &__link-heart {
        padding: 17px 14px 15px 14px;
    }
}







@import 'media';